{% extends "BoutiqueApp/index.html" %}

{% block Titulo %} <a class="navbar-brand" href="{% url 'index' %}">Inicio | Amanda Boutique </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="menu">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#admin">Admin</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'perfil' %}">Login</a></li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-item nav-link">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'registrar' %}">Registrarse</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card shadow-lg p-4 mx-auto" style="max-width: 600px; border: 2px solid #F8C8DC; border-radius: 15px;">
        <div class="card-header text-center" 
            style="background-color: #F8C8DC; color: #B76E79; font-size: 1.5rem; font-weight: bold;">
            Confirmar Eliminación
        </div>

        <div class="card-body text-center">
            <p style="font-size: 1.2rem; color: #555;">
                ¿Estás seguro que deseas eliminar al cliente:<br>
                <strong style="color: #B76E79;">{{ clientes.nombre }} ({{ clientes.identificacion }})</strong>?
            </p>

            <p class="text-muted">
                Esta acción no se puede deshacer.
            </p>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                </button>
                <a href="{% url 'clientes_list' %}" 
                    class="btn"
                    style="background-color: #F5B7C3; color: white; border-radius: 10px; padding: 10px 20px;">
                    Cancelar
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
