/* General */ 
@page { 
    size: LETTER; 
    margin: 5mm; 
}

body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    color: #4b2c35;
    background: #fdebf2;
}

header {
    text-align: center;
    margin-bottom: .25cm; /* reducir espacio para que entren más tarjetas */
}

header h1 {
    color: #c4296a;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2; 
}

header p {
    font-size: 16px;
    color: #7a5261;
    font-weight: 600;
    margin-bottom: 2px;
}

/* Grid de tarjetas: 2 columnas x 2 filas (4 por página) */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    grid-auto-rows: calc((100vh - 200px)/2); /* 2 filas ajustadas */
    gap: 10px;
    page-break-inside: avoid;
    padding: 5px;
}

/* Tarjeta */
.card {
    border: 1px solid #ffc7df;
    border-radius: 10px;
    padding: 4px; /* reducir padding */
    text-align: center;
    background: #fdebf2;
    font-weight: 700;
    box-shadow: 0 0 6px rgba(224, 91, 135, 0.2);
    page-break-inside: avoid;
}

/* Mantener imágenes sin recorte */
.image-box {
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* no se recorta */
}

.no-img {
    font-size: 12px;
    color: #888;
}

.card h2 {
    font-size: 18px;
    color: #ff4c9c;
    margin: 2px 0; /* menos espacio */
}

.estilo {
    font-weight: bold;
    color: #444;
}

.descripcion {
    font-size: 12px;
    margin: 2px; /* reducir espacio */
    color: black;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #d83377;
    margin-top: 3px; /* menos espacio */
}

/* Footer fijo */
footer {
    position: fixed;
    font-size: 11px;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #777;
}
