/* General */
@page { size: A4; margin: 15mm; }

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 15px;
}

header h1 {
    color: #ff4c9c;
    margin: 0;
    font-size: 28px;
}

header p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

/* Grid de tarjetas */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* Tarjeta */
.card {
    border: 1px solid #ffc7df;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: #fff;
}

.image-box {
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.no-img {
    font-size: 12px;
    color: #888;
}

.card h2 {
    font-size: 18px;
    color: #ff4c9c;
    margin: 5px 0;
}

.estilo {
    font-weight: bold;
    color: #444;
}

.descripcion {
    font-size: 12px;
    margin: 5px;
    color: #555;
}

.precio {
    font-size: 20px;
    font-weight: bold;
    color: #d83377;
    margin-top: 8px;
}

/* Footer fijo */
footer {
    position: fixed;
    font-size: 11px;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #777;
}
